<!DOCTYPE html>
<html lang="en">
<body style="background-image:url(../static/moroccan-flower.png);">
</body>
<head>
    <meta charset="UTF-8">
    <title>earthquake management</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Assignment 5</h1>
    <h2>Hengchao Wang</h2>
    <h2>1001778272</h2>
    <h4>Show Analyze Result</h4>
    <h4>ip address is {{ ip }}</h4>
</div>
<div class="container">
    <td><img style="width:100%;" src="/static/aws.jpg"></td>
    <br>
    <td><img style="width:100%;" src="/static/Mul.jpg"></td>
    <td><img style="width:100%;" src="/static/Jmeter.jpg"></td>
</div>
</body>
</html>